<section>
    <div [class]="'mt-10 mb-2 pt-1 w-full  rounded-s-lg rounded-r-lg ' +(getStyle(cryptoName).backgroundColor)"></div>
    <div class="flex mb-1 items-center space-x-2">
        <div class="h-5 w-5">
            <app-bitcoin-icon *ngIf="cryptoName=='Bitcoin'"></app-bitcoin-icon>
            <app-ethereum-icon *ngIf="cryptoName=='Ethereum'"></app-ethereum-icon>
            <app-binance-icon *ngIf="cryptoName=='Binance Coin'"></app-binance-icon>
            <app-usd-icon *ngIf="cryptoName=='USD Coin'"></app-usd-icon >
        </div>
       
     
        <span>{{cryptoName}}</span>
    </div>
    <h4 class="text-lg">{{totalBalance| currency:'USD':'symbol':'1.2-2'}}</h4>
</section>